<nav class="navbar navbar-dark bg-dark">
		<div class="row w-100 font-weight-bold ">
			<a class="navbar-brand col-md-12 text-center" style="font-size: 30px;" href="{{path_for('home')}}">
				<i class="fas fa-home"></i> Home
			</a>
			<a class="navbar-brand col-md-3 text-center" href="{{path_for('cv')}}">
				<i class="fas fa-scroll"></i> My CV
			</a>
			<a class="navbar-brand col-md-3 text-center animated bounce infinite" href="{{path_for('projects')}}">
				<i class="fas fa-briefcase"></i> My projects
			</a>
			<a class="navbar-brand col-md-3 text-center" href="{{path_for('profile')}}">
				<i class="fas fa-user-tie"></i> Professionnal profile
			</a>
			<a class="navbar-brand col-md-2 text-center" href="{{path_for('contact')}}">
				<i class="fas fa-phone-alt"></i> Contact
			</a>
		</div>
</nav>

